{
    "database":{
        "host": "localhost",
        "port":5432,
        "name":"tgsapps",
        "username":"opentickets",
        "password":"opentickets",
        "schema":["tickets"]
    },
    "debug":true,
    "email":{
        "imap":{
            "host": "mail.opentickets.com",
            "port":993,
            "username":"support@openticket.com",
            "password":"superstrongpassword_that_cant be cracked",
            "ssl":true

        },
        "smtp":{
            "host": "mail.opentickets.com",
            "port":587,
            "username":"support@openticket.com",
            "password":"superstrongpassword_that_cant be cracked",
            "ssl":true,
            "sender_name":"OT Support Team"

        }
    },
    "SECRET_KEY":"IAmAwesome",
    "SERVER_HOST":"0.0.0.0",
    "SERVER_PORT":8080,
    "SERVER_DEBUG":true

}